@font-face
{
    font-family: 'Inter';
    src: url('font/static/Inter-Bold.ttf'); /* Relatief pad vanaf de locatie van de CSS */
}
@font-face
{
    font-family: 'InterRegular';
    src: url('font/static/Inter-Regular.ttf'); /* Relatief pad vanaf de locatie van de CSS */
}

.root {
    -fx-background-color: #FF0; /* Verander de achtergrondkleur naar lichtblauw */
}



.button:hover
{
  -fx-background-color : #07f7f7;
}

.button:pressed
{
    -fx-background-color : #29D9D9;
}



.button
{
    -fx-flex-shrink: 0;
    -fx-background-radius: 75px;
    -fx-background-color: #FF0;

    -fx-font-family: "Inter"; /* Gebruik de eerder gedefinieerde naam voor het lettertype */
    -fx-text-fill: "#0a1758";
   /* -fx-font-weight: bold;*/
    -fx-font-size: 85;
}

.label-style-title
{
    -fx-width: 0px;
    -fx-height: 0px;
    -fx-alignment: center;
    -fx-text-fill: #0A1758; /* Tekstkleur, vervang de hex-code naar wens */
    -fx-font-family: "Inter";
    -fx-font-size: 100px;
    -fx-font-weight: bold; /* Of -fx-font-weight: bold; voor vetgedrukt */
    -fx-text-alignment: center; /* Voor tekstuitlijning */
    -fx-background-color: transparent; /* Optioneel, voor achtergrondkleur van het label */
}
.label-style-tijd
{
    -fx-alignment: center;
    -fx-text-fill: #0A1758; /* Tekstkleur, vervang de hex-code naar wens */
    -fx-font-family: "InterRegular";
    -fx-font-size: 90px;
    -fx-font-weight: normal; /* Of -fx-font-weight: bold; voor vetgedrukt */
    -fx-text-alignment: center; /* Voor tekstuitlijning */
    -fx-background-color: transparent; /* Optioneel, voor achtergrondkleur van het label */
}
.label-style-date
{
    -fx-text-fill: #0A1758;
    -fx-font-family: 'Inter';
    -fx-font-size: 96px;
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-alignment: center;
}

.background {
    -fx-background-color: white; /* Achtergrondkleur van de VBox */
   -fx-background-radius: 75;
}

.back-button
{
    -fx-background-image: url('image/pijlterug.png');
    -fx-background-size: 60px auto;
    -fx-background-color: white;
    -fx-background-position: 50px center;
    -fx-background-repeat: no-repeat;
}

.home-button
{
    -fx-background-image: url('image/house.png');
    -fx-background-size: 110px auto;
    -fx-background-color: white;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}



