/* fonts.css */
@font-face
{
    font-family: 'Inter';
    src: url('font/static/Inter-Bold.ttf'); /* Relative path from the location of the CSS */
}
@font-face
{
    font-family: 'InterRegular';
    src: url('font/static/Inter-Regular.ttf'); /* Relative path from the location of the CSS */
}