@import url('fonts.css');

.root
{
    -fx-background-color: #FF0;
}
.button:hover
{
  -fx-background-color : #07f7f7;
}
.button:pressed
{
    -fx-background-color : #29D9D9;
}

.button
{
    -fx-flex-shrink: 0;
    -fx-background-radius: 75px;
    -fx-background-color: transparent;

    -fx-font-family: "Inter";
    -fx-text-fill: "#0a1758";
    -fx-font-size: 85;
}
.back-button
{
    -fx-background-image: url('image/pijlterug.png');
    -fx-background-size: 60px auto;
    -fx-background-color: transparent;
    -fx-background-position: 50px center;
    -fx-background-repeat: no-repeat;
}
.home-button
{
    -fx-background-image: url('image/house.png');
    -fx-background-size: 110px auto;
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.star-button
{
    -fx-background-image: url('image/star.png');
    -fx-background-size: 110px auto;
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.starklick-button
{
    -fx-background-image: url('image/starfilled.png');
    -fx-background-size: 110px auto;
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.label-style-title
{
    -fx-width: 0px;
    -fx-height: 0px;
    -fx-alignment: center;
    -fx-text-fill: #0A1758;
    -fx-font-family: "Inter";
    -fx-font-size: 100px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-background-color: transparent;
}
.label-style-tijd
{
    -fx-alignment: center;
    -fx-text-fill: #0A1758;
    -fx-font-family: "InterRegular";
    -fx-font-size: 90px;
    -fx-font-weight: normal;
    -fx-text-alignment: center;
    -fx-background-color: transparent;
}
.label-style-tijd:hover
{
    -fx-text-fill: #07f7f7;
}

.vbox
{
    -fx-background-color: white;
    -fx-background-radius: 75;
}

.line
{
-fx-stroke: #FF0;
-fx-stroke-width: 28;
}

